/*DOCUMENT CSS*/

/*LEFT SIDE BAR*/
div.left_side_bar ul{
    list-style: none;
}
div.left_side_bar ul li{
    padding-bottom: 5px;
}

.img-product{
	height: 170px!important;
}
.offer-product{
    height: 100px!important;
}
.home-product{
    height: 300px!important;
    overflow: hidden;
}
